@import "../../node_modules/@bcgov/bootstrap-theme/dist/scss/common";

main {
    width: 960px;
    background-color: #fff;
    flex-grow: 1;
}

@include media-breakpoint-down(md) {
    main {
        width: 100%;
    }
}
