<h1>Community Safety Unit</h1>
<p>
  Welcome to the Community Safety Unit's Complaint Portal.
  The Community Safety Unit delivers a province-wide compliance and enforcement program to enhance public safety.
  The Community Safety Unit operates under the <em>Cannabis Control and Licensing Act</em>
  <span *ngIf="csaEnabled">and the <em>Community Safety Act</em></span>.
  Its focus is on illegal unlicensed cannabis retailers and other related illegal
  operations<span *ngIf="csaEnabled">, and properties regularly used for illegal activities</span>.
</p>
<p>
  The portal may be used to submit complaints to the Community Safety Unit under the
  <em>Cannabis Control and Licensing Act</em> <span *ngIf="csaEnabled">and the <em>Community Safety Act</em></span>.
  <span *ngIf="csaEnabled">The nature of your complaint will determine the complaint form that you will use.</span>
</p>

<section class="my-5">
  <h2>Cannabis Control and Licensing Act</h2>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p>
        The Community Safety Unit is responsible for compliance and enforcement under the 
        <a href="https://www2.gov.bc.ca/gov/content/safety/public-safety/cannabis">Cannabis Control and Licensing Act</a>,
        with a focus on the illegal sale of cannabis.
        CSU investigators carry out compliance and enforcement activities against unlicensed cannabis 
        retailers and other illegal sellers across the province.
      </p>
      <p>
        If you would like to submit a complaint against an illegal unlicensed cannabis retailer
        or other seller, please select the option below.
      </p>
      <button class="btn btn-primary btn-lg mb-3" routerLink="/ccla-form">
        Submit a Complaint under the CCLA
      </button>
    </div>
    <div class="col-md-4">
      <a routerLink="/ccla-form">
        <img src="assets/ccla.png" alt="Placeholder" class="img-fluid img-thumbnail" />
      </a>
    </div>
  </div>
</section>

<section class="my-5" *ngIf="csaEnabled">
  <h2>Community Safety Act</h2>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <p>
        The Community Safety Unit is also responsible for investigations under the <em>Community Safety Act</em>.
        The <em>Community Safety Act</em> targets properties in your community that are regularly
        used for specific criminal and nuisance activities, including drug production and trafficking,
        unlawful liquor sales, possession of unlawful weapons or explosives, and activities
        conducted by or on behalf of gangs and organized crime.
        CSU investigators carry out compliance and enforcement activities across the province against
        properties that receive complaints under the <em>Community Safety Act</em>.
      </p>
      <p>
        If you would like to submit a complaint against a problem property that is regularly used for unlawful
        activity (possession/production/use/trafficking of illegal drugs/liquor, storage/possession of illegal
        firearms, gang or criminal organization activity, illegal gaming/gambling, storage/possession of stolen
        property) in a way that adversely affects your neighbourhood or community, please select the option below.
      </p>
      <button class="btn btn-primary btn-lg mb-3" routerLink="/csa-form">
        Submit a Complaint under the CSA
      </button>
    </div>
    <div class="col-md-4">
      <a routerLink="/csa-form">
        <img src="assets/csa.jpg" alt="Placeholder" class="img-fluid img-thumbnail" />
      </a>
    </div>
  </div>
</section>
