
<section [formGroup]="form" *ngIf="loaded"
  [ngBusy]="{ busy: [ submittingForm ], message: 'Submitting Complaint&hellip;', minDuration: 1500 }" (busyStop)="onBusyStop()">
  <h1>CSA Complaint Form</h1>
  <p>
    Please fill out all applicable fields and press the submit button at the bottom of this form.
  </p>
  <p>
    If you have any questions about this form, please contact the Community Safety Unit at
    604-502-5493 (lower mainland) or 1-855-502-5494 (toll free) or by email at CSU@gov.bc.ca.
  </p>
  <p>You will be contacted if the Community Safety Unit requires additional information.</p>

  <div class="clearfix">
    <p class="text-danger float-right"><em>* Required</em></p>
  </div>

  <fieldset formGroupName="complaintDetails">
    <legend>Complaint Details</legend>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label" for="propertyPropertyType">Property Type</label>
          <select id="propertyPropertyType" class="form-control" formControlName="propertyType">
            <option [ngValue]="null">Select a Property Type&hellip;</option>
            <option *ngFor="let propertyType of propertyTypes | async" [ngValue]="propertyType.value">{{propertyType.name}}</option>
          </select>
        </div>
        <div class="col-sm-6" [class.d-none]="this.form.get('complaintDetails.propertyType').value !== this.propertyTypeOther">
          <label class="control-label" for="propertyOtherPropertyType">'Other' Property Type</label>
          <input id="propertyOtherPropertyType" class="form-control" type="text" maxlength="100" formControlName="otherPropertyType" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <app-field label="Property Name (If Applicable)">
            <input id="propertyName" class="form-control" type="text" maxlength="250" formControlName="name">
          </app-field>
        </div>
      </div>
      <section formGroupName="address">
        <div class="row">
          <div class="col-sm-12">
            <app-field label="Property Address">
              <input id="propertyAddressLine1" class="form-control" type="text" maxlength="250" formControlName="line1">
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <app-field label="Property Apt/Suite/Unit">
              <input id="propertyAddressUnit" class="form-control" type="text" maxlength="250" formControlName="unit">
            </app-field>
          </div>
          <div class="col-sm-6">
            <app-field label="Property City" [required]="true"
              [invalid]="checkInputInvalid('complaintDetails.address.city')"
              errorMessage="Please provide a city">
              <input id="propertyAddressCity" class="form-control" type="text" maxlength="80" formControlName="city" required
                [class.is-invalid]="checkInputInvalid('complaintDetails.address.city')">
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <app-field label="Property Province">
              <input id="propertyAddressProvinceState" class="form-control" type="text" maxlength="50" formControlName="provinceState">
            </app-field>
          </div>
          <div class="col-sm-6">
            <app-field label="Property Country">
              <input id="propertyAddressCountry" class="form-control" type="text" maxlength="80" formControlName="country">
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <app-field label="Property Postal Code">
              <input id="propertyAddressZipPostalCode" class="form-control" type="text" maxlength="20" formControlName="zipPostalCode">
            </app-field>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-field label="Name of Occupant(s) (If Known)">
          <input id="propertyOccupantName" class="form-control" type="text" maxlength="150" formControlName="occupantName">
        </app-field>
      </div>
      <div class="col-sm-6">
        <app-field label="Name of Owner(s) (If Known)">
          <input id="propertyOwnerName" class="form-control" type="text" maxlength="100" formControlName="ownerName">
        </app-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-field label="Property Description"
          [required]="true" [invalid]="checkInputInvalid('complaintDetails.description')"
          errorMessage="Please provide details about the property">
          <div id="propertyDescriptionDescription" class="control-text text-muted mb-2">
            E.g. A description of property, number of occupants, children, animals, vehicles, hazards, etc.
          </div>
          <textarea id="propertyDescription" class="form-control" type="text" maxlength="2000" formControlName="description" required
            placeholder="Enter details&hellip; (2000 Characters Max)"
            aria-describedby="propertyDescriptionDescription"
            [class.is-invalid]="checkInputInvalid('complaintDetails.description')"></textarea>
        </app-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-field label="Details of Problems with the Property" [required]="true"
          [invalid]="checkInputInvalid('complaintDetails.problems')"
          errorMessage="Please provide details about the complaint">
          <div id="propertyProblemsDescription" class="control-text text-muted mb-2">
            E.g. possession/production/use/trafficking of illegal drugs/liquor, storage/possession of illegal firearms,
            gang or criminal organization activity, illegal gaming/gambling, storage/possession of stolen property, etc.
            Please include details of the frequency of the activity and the effect it has on you or the neighbourhood.
          </div>
          <textarea id="propertyProblems" class="form-control" type="text" maxlength="2000" formControlName="problems" required
            placeholder="Enter details&hellip; (2000 Characters Max)"
            aria-describedby="propertyProblemsDescription"
            [class.is-invalid]="checkInputInvalid('complaintDetails.problems')"></textarea>
        </app-field>
      </div>
    </div>
  </fieldset>
  <fieldset formGroupName="complainantContactInfo">
    <legend>Complainant Contact Information</legend>
    <p>
      The CSU is only able to follow up on complaints where contact details from the complainant have been provided.
      Please note that the identity of a complainant will be kept confidential in accordance with section 8 of the <em>Community Safety Act</em>.
    </p>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <app-field label="First Name" [required]="true"
            [invalid]="checkInputInvalid('complainantContactInfo.firstName')"
            errorMessage="Please provide a first name">
            <input id="complainantFirstName" class="form-control" type="text" maxlength="50" formControlName="firstName" required
              [class.is-invalid]="checkInputInvalid('complainantContactInfo.firstName')">
          </app-field>
        </div>
        <div class="col-sm-6">
          <app-field label="Middle Name">
            <input id="complainantMiddleName" class="form-control" type="text" maxlength="50" formControlName="middleName">
          </app-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-field label="Last Name" [required]="true"
            [invalid]="checkInputInvalid('complainantContactInfo.lastName')"
            errorMessage="Please provide a last name">
            <input id="complainantLastName" class="form-control" type="text" maxlength="50" formControlName="lastName"
              [class.is-invalid]="checkInputInvalid('complainantContactInfo.lastName')">
          </app-field>
        </div>
        <div class="col-sm-6">
          <app-field label="Fax"
            [invalid]="checkInputInvalid('complainantContactInfo.fax')"
            errorMessage="Please provide a complete fax number">
            <input id="complainantFax" class="form-control" type="tel" maxlength="50" formControlName="fax"
              [textMask]="{ mask: this.telephoneMask }" placeholder="(___)-___-____"
              [class.is-invalid]="checkInputInvalid('complainantContactInfo.fax')">
          </app-field>
        </div>
      </div>
      <app-field label="Telephone and/or Email Address" [required]="true">
        <div class="card card-body bg-light">
          <div class="row">
            <div class="col-sm-6 mb-0">
              <app-field label="Telephone"
                [invalid]="checkTelephoneInvalid()"
                errorMessage="Please provide a telephone number or an email address">
                <input id="complainantPhone" class="form-control" type="tel" maxlength="50" formControlName="phone"
                  [textMask]="{ mask: this.telephoneMask}" placeholder="(___)-___-____"
                  [class.is-invalid]="checkTelephoneInvalid()"> 
              </app-field>
            </div>
            <div class="col-sm-6 mb-0">
              <app-field label="Email Address"
                [invalid]="checkInputInvalid('complainantContactInfo.email')"
                errorMessage="Please provide a valid email address">
                <input id="complainantEmail" class="form-control" type="text" maxlength="100" formControlName="email"
                  [class.is-invalid]="checkTelephoneInvalid() || checkInputInvalid('complainantContactInfo.email')">
              </app-field>
            </div>
          </div>
        </div>
      </app-field>
    </div>
  </fieldset>
  <fieldset formGroupName="complainantMailingAddress">
    <legend>Complainant Mailing Address</legend>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <app-field label="Address" [required]="true"
            [invalid]="checkInputInvalid('complainantMailingAddress.line1')"
            errorMessage="Please provide an address">
            <input id="complainantAddressLine1" class="form-control" type="text" maxlength="250" formControlName="line1" required
              [class.is-invalid]="checkInputInvalid('complainantMailingAddress.line1')">
          </app-field>
        </div>
        <div class="col-sm-6">
          <app-field label="Apt/Suite/Unit">
            <input id="complainantAddressUnit" class="form-control" type="text" maxlength="250" formControlName="unit">
          </app-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-field label="City" [required]="true"
            [invalid]="checkInputInvalid('complainantMailingAddress.city')"
            errorMessage="Please provide a city">
            <input id="complainantAddressCity" class="form-control" type="text" maxlength="80" formControlName="city" required
              [class.is-invalid]="checkInputInvalid('complainantMailingAddress.city')">
          </app-field>
        </div>
        <div class="col-sm-6">
          <app-field label="Province/State" [required]="true"
            [invalid]="checkInputInvalid('complainantMailingAddress.provinceState')"
            errorMessage="Please provide a province or state">
            <input id="complainantAddressProvinceState" class="form-control" type="text" maxlength="50" formControlName="provinceState" required
              [class.is-invalid]="checkInputInvalid('complainantMailingAddress.provinceState')">
          </app-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-field label="Country" [required]="true"
            [invalid]="checkInputInvalid('complainantMailingAddress.country')"
            errorMessage="Please provide a country">
            <input id="complainantAddressCountry" class="form-control" type="text" maxlength="80" formControlName="country" required 
              [class.is-invalid]="checkInputInvalid('complainantMailingAddress.country')">
          </app-field>
        </div>
        <div class="col-sm-6">
          <app-field label="Postal Code/Zip Code">
            <input id="complainantAddressZipPostalCode" class="form-control" type="text" maxlength="20" formControlName="zipPostalCode">
          </app-field>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <app-field label="Terms & Conditions" [required]="true"
      [invalid]="checkInputInvalid('acceptTerms')"
      errorMessage="Please indicate your agreement to the Terms & Conditions">
      <div id="termsAndConditions" class="overflow-auto card card-body bg-light"> 
        <p>
          As set out in section 8 of the <em>Community Safety Act</em>, a complainant's identity, their complaint,
          and any information by which a complainant may be identified must be kept confidential, unless 
          written consent from a complainant is obtained by the Community Safety Unit.
          Confidentiality does not apply with respect to a complainant who applies for a Community Safety Order
          under section 10 of the <em>Community Safety Act</em>.
        </p>
        <p>
          You are required to provide your name and contact information, and you may be contacted by the
          Community Safety Unit for additional information. Please note that the Community Safety Unit may
          close the file based on insufficient information if you are unable to be contacted.
        </p>
        <p>By checking the checkbox below:</p>
        <ul>
          <li>
            I consent to being contacted by the Community Safety Unit for additional information;
          </li>
          <li>
            I understand that information contained within this form will remain confidential, unless
            written consent is obtained by the Community Safety Unit; and
          </li>
          <li>
            I understand that confidentiality will not apply if I make an application for a Community Safety Order
            under section 10 of the <em>Community Safety Act</em>.
          </li>
        </ul>
        <p>
          Note: The Community Safety Unit is NOT able to provide reasons for decisions made throughout the
          complaint review process or investigation.
          However, you will be notified if your complaint is not acted on or if your complaint is acted on,
          if the Community Safety Unit does not apply for a Community Safety Order.
        </p>
        <p>
            The information requested on this form is collected by the Community Safety Unit under
            Section 26 (b) and (c) of the <em>Freedom of Information and Protection of Privacy Act</em> and will be used
            for the purpose of compliance and enforcement matters in accordance with the <em>Community Safety Act</em>.
        </p>
        <p>
          Should you have any questions about the collection, use, or disclosure of personal information,
          please contact the Freedom of Information Office at:
        </p>
        <p>
            PO Box 9292, STN PROV GVT
            <br />
            Victoria, BC, V8W 9J8
        </p>
        <p class="mb-0">
          Or by phone toll free at 1-866-209-2111.
        </p>
      </div>
      <div class="form-check mt-3">
        <input id="acceptTerms" class="form-check-input" type="checkbox" formControlName="acceptTerms" required>
        <label class="form-check-label" for="acceptTerms">I agree to the Terms & Conditions</label>
      </div>
    </app-field>
  </fieldset>

  <captcha [apiBaseUrl]="captchaApiBaseUrl" 
    nonce="submit-complaint"
    (onValidToken)="authorizationToken = $event"
    successMessage="You can submit the complaint now."
    language="en"
    eagerFetchAudio = "false">
  </captcha>

  <div class="float-right">
    <button (click)="submit()" [disabled]="!authorizationToken" class="btn btn-primary mt-4">Submit Complaint</button>
  </div>
</section>
