<section class="app-field">
  <span *ngIf="leadingText">{{leadingText}} <p></p> </span>
  <label *ngIf="label">{{label}} <span *ngIf="!required">(optional)</span></label>
  
  <div *ngIf="afterLabelText">{{afterLabelText}}</div>
  <br *ngIf="label && !afterLabelText">

  <div style="display: flex; align-items: center;">
    <section [ngClass]="{ 'fullWidth': isFullWidth }">
      <ng-content></ng-content>
    </section>
  </div>
  
  <div *ngIf="invalid" class="invalid-feedback d-block">
    {{errorMessage}}
  </div>
</section>
